MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/velora?retryWrites=true&w=majority
PORT=8000
ACCESS_TOKEN=your-access-token-secret
REFRESH_TOKEN=your-refresh-token-secret

# Optional toggles
# NODE_ENV=development
# COOKIE_DOMAIN=localhost
